body {
  font-family: 'Arial', sans-serif;
  margin: 0px;
  padding: 0px;
}

.receipt {
    padding: 3mm;
    width: 80mm;
    border: 1px solid black;
}
.orderNo {
  width: 100%;
  text-align: center;
  padding-bottom: 1mm;
  font-size: 12pt;
  font-weight: bold;
}

.orderNo:empty {
  display: none;
}

.headerSubTitle {
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-size: 12pt;
  margin-top: 5pt;
}

.headerTitle {
  font-family: 'Arial', sans-serif;
  text-align: center;
  font-size: 34pt;
  font-weight: bold;
}

#phone {
  margin-top: 2pt;
  text-align: center;
  font-size: 12pt;
}

#date {
  margin: 5pt 0px;
  text-align: center;
  font-size: 8pt;
}

.item {
  margin-top: 1mm;
}

.itemRow {
  display: flex;
  font-size: 8pt;
  align-items: baseline;
}

.itemRow > div {
  align-items: baseline;
}

.itemName {
  font-size: 10pt;
  font-weight: bold;
}

.itemPrice {
  text-align: right;
  flex-grow: 1;
}

.itemCustomization {
  width: 10px;
  height: 100%;
  margin-top: 1mm;
  padding: 0px;
}

.topping{
  line-height: 10px;
}

.itemSize {
  text-align: right;
  flex-grow: 1;
}

.itemData3 {
  width: 15mm;
  text-align: right;
}

.flex {
  display: flex;
  justify-content: center;
}

.totals {
  flex-grow: 1;
  align-self: center;
  font-size: 8pt;
}

.totals .row {
  display: flex;
  text-align: right;
}

.totals .section {
  padding-top: 2mm;
}

.totalRow > div, .total > div {
  text-align: right;
  align-items: baseline;
  font-size: 8pt;
}

.totals .col1 {
  text-align: right;
  flex-grow: 1;
}

.totals .col2 {
   width: 22mm;
}

.totals .col2:empty {
  display: none;
}

.totals .col3 {
  width: 15mm;
}

.footer {
  overflow: hidden;
  margin-top: 5mm;
  border-radius: 7px;
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.footer:empty {
    display: none;
}

.ty {
  padding: 1mm 0px;
}

.ty:empty {
    display: none;
}

.ty:before {
    content: "Please Come Again!";
  font-size: 8pt;
  display: block;
}

.tyLabel {
  font-size: 8pt;
}

.about {
  font-size: 12pt;
  overflow: hidden;
  background: #FCEC52;
  color: #3A5743;
  border-radius: 7px;
  padding: 0px;
  position: absolute;
  width: 500px;
  text-align: center;
  left: 50%;
  margin-top: 50px;
  margin-left: -250px;
}

.about li {
  text-align: left;
}