:root {
    background-color: #191724; /* rosePine base */
}

* {
    color: #e0def4; /* rosePine text */
}

body {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

input {
    background-color: white;
    color: black;
}

hr {
    width: 75vw;
}

button {
    width: 100%;
    color: black;
}

.topNav {
    background-color: rgb(38, 35, 58);
    font-size: 20px;
    display: flex;
    overflow: hidden;
    margin-top: 0;
    align-items: center;
    justify-content: center;
}

.topNav div {
    padding: 16px;
    text-align: center;
    cursor: pointer;
}

.topNav div:hover {
    background-color: #21202e;
    color: #cbeff5;
    /*
    text-shadow:
    0 0 2px #fff;
    */
}

#home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 4vh;
    height: 50vh;
    width: 90vw;
    gap: 10px;
}

#home .dotd {
    grid-row: 1;
    grid-column: 1 / span 2;
    border: 2px solid white;
    border-radius: 10px;
}

#home .deal {
    grid-row: 1;
    grid-column: 3;
    border: 2px solid white;
    border-radius: 10px;
}

#home .maps {
    grid-row: 1;
    grid-column: 4;
    border: 2px solid white;
    border-radius: 10px;
}
#home .static_image {
    grid-row: 2;
    grid-column: span 2;
    border: 2px solid white;
    border-radius: 10px;
}
