<!DOCTYPE html>
<html>
<head>
    <title>test_site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="static/styles.css"/>
    <script type="text/javascript" src="static/htmx.min.js"></script>
</head>
<body>
<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">
            <img src="img/logo.png" alt="logo image">
            GitPizza
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a hx-get="/home" hx-target="#main" hx-swap="innerHTML"
                                         class="nav__link active-link">Home</a></li>
                <li class="nav__item"><a hx-get="/order" hx-target="#main" hx-swap="innerHTML"
                                         class="nav__link">Menu</a></li>
                <li class="nav__item"><a hx-get="/other" hx-target="#main" hx-swap="innerHTML" class="nav__link">About
                    us</a></li>
                <li class="nav__item"><a hx-get="/popular" hx-target="#main" hx-swap="innerHTML" class="nav__link">Popular</a>
                </li>
                <li class="nav__item"><a hx-get="/receipt" hx-target="#main" hx-swap="innerHTML" class="nav__link">TestReceipt</a>
                </li>
                <li class="nav__item"><a hx-get="/signin" hx-target="#main" hx-swap="innerHTML" class="nav__link">Sign
                    In / Up</a></li>
                <li class="nav__item"><a hx-get="/signup" hx-target="#main" hx-swap="innerHTML" class="nav__link">Sign
                    In / Up</a></li>
            </ul>

            <div class="nav__close" id="nav-close">
                <i class="fa-solid fa-xmark"></i>
            </div>

            <img src="img/pizza-slice.png" alt="nav image" class="nav__img-1">
        </div>

    </nav>
</header>
<div id="page">
    <div id="main">
        <div hx-get="/home" hx-swap="outerHTML" hx-trigger="load"></div>
    </div>
    <footer class="footer">
        <div class="footer__container container grid">
            <div>
                <a href="" class="footer__logo">
                    <img src="img/logo.png" alt="logo image">
                    GitPizza
                </a>

                <p class="footer__description">
                    Food for the body is not <br>
                    enough. There must be food <br>
                    for the soul.
                </p>
            </div>

            <div class="footer__content">
                <div>
                    <h3 class="footer__title">Main Menu</h3>

                    <ul class="footer__links">
                        <li><a href="" class="footer__link">About</a></li>
                        <li><a href="Menu.html" class="footer__link">Menus</a></li>
                        <li><a href="" class="footer__link">Offer</a></li>
                        <li><a href="" class="footer__link">Events</a></li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">Information</h3>

                    <ul class="footer__links">
                        <li><a href="" class="footer__link">Contact</a></li>
                        <li><a href="" class="footer__link">Order & Returns</a></li>
                        <li><a href="" class="footer__link">Videos</a></li>
                        <li><a href="" class="footer__link">Reservation</a></li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">Address</h3>

                    <ul class="footer__links">
                        <li class="footer__information">
                            Address <br>
                            here
                        </li>
                        <li class="footer__information">9AM - 11PM</li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">Social Media</h3>

                    <ul class="footer__links footer__social">
                        <a href="https://www.facebook.com/" class="footer__social-link" target="_blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/" class="footer__social-link" target="_blank">
                            <i class="fa-brands fa-square-instagram"></i>
                        </a>
                        <a href="https://twitter.com/" class="footer__social-link" target="_blank">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer__copy container">
            &copy;
        </div>
    </footer>
</div>
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script src="static/main.js"></script>
</body>
</html>