<!DOCTYPE html>
<html>
<head>
    <title>test_site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="static/styles.css"/>
    <script type="text/javascript" src="static/htmx.min.js"></script>
</head>
<body>
<div class="topNav">
    <div hx-target="#main" hx-swap="innerHTML" hx-boost="true" hx-get="/home">Home</div>
    <div hx-target="#main" hx-swap="innerHTML" hx-boost="true" hx-get="/order">Order</div>
    <div hx-target="#main" hx-swap="innerHTML" hx-boost="true" hx-get="/other">Other</div>
    <div hx-target="#main" hx-swap="innerHTML" hx-boost="true" hx-get="/rewards">Rewards</div>
    <div hx-target="#main" hx-swap="innerHTML" hx-boost="true" hx-get="/cart">Cart</div>
</div>
<div id="page">
    <div id="main">
        <div hx-get="/form_html" hx-swap="outerHTML" hx-trigger="load"></div>
    </div>
</div>
</body>
</html>
